@import url(style/header.css);


:root{
    --cor-de-fundo: #cacaca;
    --branco: #FFFFFF;
    --laranja: #eb9b00;
    --azul-degrade: #002f52;

    }

body {
    background-color: var(--cor-de-fundo);
}



